.arrow_box {
	position: relative;
	background: #ffffff;
	border: 3px solid #ff0000;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 252, 255, 0);
	border-top-color: #fffcff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(245, 7, 55, 0);
	border-top-color: #f50737;
	border-width: 19px;
	margin-left: -19px;
}

#help {position:absolute;top:10px;left:10px;z-index:10;float:left}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}

iframe {margin: 0px -20px 0px 0px;padding: 0px}


</style>